body{
    text-align: center;
     background-image:url(;https://www.hiclipart.com/free-transparent-background-png-clipart-nmrtm)
  
  }
  p{
      font-size: 30px;
      color:pink;
  }
  h2{
      font-weight: bolder;
      font-size: 40px;
  }
  label{
      font-size: 30px;
  }
  h3{
      font-size: 30px;
  }